
p {
  text-align: center;
  color: red;
}


 body {
  background-image: url("https://s.w-x.co/util/image/w/in-snowfall_.jpg?v=at&w=1280&h=720");
}
<img style="border:opx;"src="/home/Sem6B12/Desktop/images.jpeg">
